*.log

# Vagrant specific
.vagrant

# other
.md5
/image-*.tar
/version.txt
/seeds/aws/.terraform
/seeds/aws/terraform.tfvars.private
/seeds/aws/terraform.tfstate
/seeds/aws/terraform.tfstate.backup
/.vscode

**/.overnode/**
dev/docker-config.json
